*.o
*.iso
sys/kernel.sys
buildcc/
cross/
dump.dat
*.a
*.EFI
configure/
limine/
autom4te.cache/
config.log
config.status
/Makefile
configure
install-sh
meta/system/init.sys
initrd.sys
meta/initrd/*.sys
sbin/
